* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    text-align: center;
    background: linear-gradient(45deg, purple, orange, purple);
}
header {    
    color: black;
    padding: 15px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
}
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px white;    
    max-width: 600px;  
    margin: 0 30px 50px;  
    padding: 20px;
}
p {
    margin-bottom: 30px;
}
h1 {
    font-size: 4em;
}
input {
    font-size: large;
}
.num_param {
    width: 30px;
}
input[type=button] {
    justify-self: center;
    grid-column: 1/5;
    padding: 0 5px;
    margin-bottom: 10px;
    background-color: rgb(212, 138, 0);
    border-radius: 5px;
    color: rgb(234, 234, 234);
}
.number-n {    
    justify-self: center;   
    grid-column: 1/5;    
    width: 130px;
    margin-top: 25px;
}
.inputs-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 120px 80px 90px 110px;
    row-gap: 12px;    
}
label {
    width: fit-content;   
    justify-self: right; 
    padding-right: 4px;
}

/* FIBONACCI SEQUENCE */
.fsinputs-container {
    display: grid;
    justify-content: center;
    gap: 12px;
}